body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 800px;
  height: 700px;
}

#background {
  width: 800px;
  height: 600px;
  border: 3px solid;
  border-color: darkmagenta;
}

.textDesc {
  margin-left: 35px;
  margin-right: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
}

#img_1 {
  width: 800px;
  height: 600px;
}

.options_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  height: 120px;
  background-color: black;
}

.btn {
  background-color: darkmagenta;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: medium;
  border-radius: 15px;
  border-color: blueviolet;
  border-width: 4px;
  height: 40px;
}

.btn-2 {
  background-color: darkmagenta;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: medium;
  border-radius: 15px;
  border-color: blueviolet;
  border-width: 4px;
  height: 40px;
}
